@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*@keyframes move_bg {
  0% {
    background-position-x: 0;
    background-position-y: 0;
  }
  100% {
    background-position-x: -300px;
    background-position-y: 0;
  }
}*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
  /* выше установили высоту (экран просмотра), её min и max высоту,
  задали цвет фона,  сделали шапку резиновой с относительным позиционированием элементов */
}
