.feynman {
  width: 100%;
  min-height: 890px; /* ИСПРАВЛЕНО rel.2 *//* ВНИМАНИЮ РЕВЬЮЕРА! Высота 890px задана в брифе (страница 12, левый верхний угол) */
  /*overflow: hidden;*/ /* ИСПРАВЛЕНО rel.2 (было добавлено ранее после первой проверки по замечанию ревьюера *//* добавлено по замечанию ревьюера для скрытия выпадающего за высоту блока контента --ВЫПОЛНЕНО--*/
  background-color: #f2f2f2;
  position: relative;
  /* задали ширину третьей секции "Метод..." относительно родителя, высоту,
  внутренний отступ сверху, фон, относительное позиционирование, глубину слоя*/
}
