.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  /* задали внешние отступы содержимого каждого параграфа правой колонки двухколоночного блока,
  задали стили тексту */
}
