.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* задали ширину двухколоночного блока первой секции, внешние отступы, сделали его резиновым,
  отъюстировали его содержимое (прилепили к границам, пустое пространство между блоками в контейнере)  */
}
