.kaufman {
  margin: 0;
  padding: 90px 0;
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  /* задали четвертой секции "Принципы..." ширину относительно родителя, внутренние отступы,
   задали поведение при переполнении, задали фон, относительное позиционирование и юстировку
   контента*/
}
