.footer__column-heading {
  margin: 0 0 20px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  /* задали заголовкам колонок футера внешние отступы, стили текста */
}
