.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* задали основной картинке третьей секции размеры, абсолютное позиционирование относительно
  нижнего левого угла, задали глубину слоя */
}
