.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* задали ширину правой колонке двухколоночного блока первой секции относительно родителя (two-columns),
  минимально допустимую ширину, сделали колонку резиновой колоночного типа, юстировали элементы в ней к
  границам с пространством между ними,  задали ширину пространства (интервала) между элементами */
}
