.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  z-index: 1; /* ИСПРАВЛЕНО rel.2 для исключения перекрытия иллюстрацией*/
  /* задали ширину подзаголовку шапки, позиционировали его абсолютно относительно нижнего левого угла
  шапки,  задали внешние отступы и стили текста */
}
