.table__cell_theme_dark {
  margin: 0;
  width: 200px;
  color: rgb(255, 255, 255);
  row-gap: 20px;
  /* модификатор блока карточки (колонки) четвертой секции задает внешние отступы,
  ширину карточки, интервал меджу строками */
}
