.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* выше установили высоту (экран просмотра), её min и max высоту,
  задали цвет фона,  сделали шапку резиновой с относительным позиционированием элементов */
}

.logo {
  width: 228px;
  height: 32px;
  /*задали размер лого */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  /* позиционирует логотип шапки абсолютно относительно верхней левой стороны шапки */
}

.header__title {
  max-width: 730px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 1; /* ИСПРАВЛЕНО rel.2 для исключения перекрытия иллюстрацией*/
  /* задали ширину заголовка шапки, поместили его в резинку, отцентрировали элементы,
  создали внешние отступы, задали стили тексту*/
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  z-index: 1; /* ИСПРАВЛЕНО rel.2 для исключения перекрытия иллюстрацией*/
  /* задали ширину подзаголовку шапки, позиционировали его абсолютно относительно нижнего левого угла
  шапки,  задали внешние отступы и стили текста */
}

.header__square-pic {
  margin: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;

  /* нарисовали квадрат заданного размера, задали внешние отступы, цвет его фона, позиционировали
  его абсолютно относительно правого верхнего угла шапки */
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover; /* --ВЫПОЛНЕНО-- */
  position: absolute;
  bottom: 0;
  right: 0;

  /* задали размеры картинке шапки, позиционировали абсолютно относительно правого нижнего угла
  шапки,  задали глубину слоя */
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  /* задали цвет ссылке в подзаголовке шапки, убрали подчеркивание */
}

.header__link:hover {
  color: rgba(47, 128, 237, .5);
}

.description {
  margin: 100px 0;
  /* задали внешние отступы первой секции "Главные проблемы..." */
  }

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* задали ширину двухколоночного блока первой секции, внешние отступы, сделали его резиновым,
  отъюстировали его содержимое (прилепили к границам, пустое пространство между блоками в контейнере)  */
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /* задали ширину левой колонке двухколоночного блока первой секции, внешние отступы, задали стили тексту*/
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  justify-content: space-between;
=======
>>>>>>> 943ef30 (Create blocks Techniques, Video and Oakley)
  row-gap: 30px;
  /* задали ширину правой колонке двухколоночного блока первой секции относительно родителя (two-columns),
  минимально допустимую ширину, сделали колонку резиновой колоночного типа, юстировали элементы в ней к
  границам с пространством между ними,  задали ширину пространства (интервала) между элементами */
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  /* задали внешние отступы содержимого каждого параграфа правой колонки двухколоночного блока,
  задали стили тексту */
}

.two-columns__span-accent {
  font-weight: 700;
  /* задали жирную толщину шрифту в параграфе*/
}

<<<<<<< HEAD
.digits {
  margin: 0px auto 100px;
=======
.techniques {
  width: 80%;
  margin: 100px auto;
}

.cards {
  margin: 0 auto;
  padding: 0;
  max-width: 920px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  justify-content: center;
  list-style-type: none;
  }

.cards__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;

}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.cards__title {
  margin: 0 auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.cards__description {
  margin: 0 auto;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin: 0 auto -50px;
}

.video__iframes {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 0;
}

.digits {
  margin: 100px auto;
>>>>>>> 943ef30 (Create blocks Techniques, Video and Oakley)
  /* задали внешние отступы второй секции "Цифры и..." */
  }

.section-title {
<<<<<<< HEAD
  margin: 0;
=======
  margin: 0 auto;
  width: 60%;
>>>>>>> 943ef30 (Create blocks Techniques, Video and Oakley)
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  /* задали внежние отступы заголовку второй и четвертой секций, задали стили текста */
}

.section-subtitle {
<<<<<<< HEAD
  margin: 20px 0 0;
=======
  width: 60%;
  margin: 20px auto 0;
>>>>>>> 943ef30 (Create blocks Techniques, Video and Oakley)
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  /* задали внешние отступы подзаголовку второй и четвертой секций, задали стили тексту */
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 60px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  /* задали ширину, внешние и внутренние отступы столу блоков карточек второй
  и четвертой секций, сделали его резиновым с переносом строки при переполнении,
  юстировали контент по границам контейнера с промежутками между содержимым,
  задали интервал между строчными элементами*/
  }

.table__cell {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;
  list-style-type: none;
  /* сделали блок карточки (колонку) стола второй и четвертой секций резиновым колоночного
  типа, элементы растянули в блоке, задали ему ширину, отменили нумерацию списка*/
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  /* задали внешние отступы заголовку блока карточки (колонки) стола второй и
  четвертой секций, задали стили тексту */
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  /* задали внешние отступы тексту блока карточки (колонки) стола второй и
  четвертой секций, задали стили тексту */
}

.feynman {
  width: 100%;
  min-height: 890px; /* ИСПРАВЛЕНО rel.2 *//* ВНИМАНИЮ РЕВЬЮЕРА! Высота 890px задана в брифе (страница 12, левый верхний угол) */
  /*overflow: hidden;*/ /* ИСПРАВЛЕНО rel.2 (было добавлено ранее после первой проверки по замечанию ревьюера *//* добавлено по замечанию ревьюера для скрытия выпадающего за высоту блока контента --ВЫПОЛНЕНО--*/
  background-color: #f2f2f2;
  position: relative;
  /* задали ширину третьей секции "Метод..." относительно родителя, высоту,
  внутренний отступ сверху, фон, относительное позиционирование, глубину слоя*/
}

.feynman__title {
  max-width: 648px;
  margin: 0 auto;
  padding: 100px 0 0;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  /* задали ширину заголовка третьей секции, внешние отступы, глубину слоя, стили тексту */
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  position: relative;
  z-index: 1;
  /* задали подзаголовку третьей секции внешний отступ сверху, относительное позиционирование,
  глубину слоя, стили тексту */
}

.feynman__link {
  position: absolute;
  top: 50%; /* ИСПРАВЛЕНО rel.2 */
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
  /* задали ссылке третьей секции абсолютное позиционирование относительно правой границы,
  стили тексту, убрали подчеркивание ссылки */
}

.feynman__link:hover {
  color: rgba(47, 128, 237, .5);
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* задали основной картинке третьей секции размеры, абсолютное позиционирование относительно
  нижнего левого угла, задали глубину слоя */
}

.khan {
  margin: 100px auto 0;
  padding: 105px 0 0;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.khan__quote {
  min-width: 790px;
  line-height: 34px;
  font-size: 24px;
  margin: 50px 0 0;
  }

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 36px 0 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  margin: 10px 0 0;
  }

.khan__book-container {
  display: flex;
  margin: 68px 0 0;
  column-gap: 48px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: 0 0;
  margin: 0;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
   }

.khan__buy-link:hover {
  color: rgba(47, 128, 237, .5);
}

.kaufman {
  width: 100%;
  padding: 90px 0;
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  justify-content: center;
  /* задали четвертой секции "Принципы..." ширину относительно родителя, внутренние отступы,
   задали поведение при переполнении, задали фон, относительное позиционирование и юстировку
   контента*/
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  /* задали размеры изображению с треугольником четвертой секции, адрес источника
  абсолютное позиционирование относительно правого верхнего угла секции, глубину слоя */
 }

 .resources {
  margin: 100px auto 217px;
 }

 .resources__logo-zone {
  min-width: 1100px;
  display: flex;
  justify-content: center;

  margin: 80px 0 0;
 }

 .resources__link {
  width: 270px;
  height: 38px;
  display: flex;
  justify-content: center;

 }

 .resources__logo {
  min-height: 100%;
  object-fit: contain;

 }

.section-title_theme_dark {
  color: rgb(255, 255, 255);
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
/* модификатор для заголовка четвертой секции задает стили тексту */
}

.section-subtitle_theme_dark {
  color: rgb(255, 255, 255);
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  /* модификатор для подзаголовка четвертой секции задает стили тексту*/
  }

.table_theme_dark {
  position: relative;
  margin: 0 auto;
  padding: 80px 0 0;
  z-index: 1;
  /* модификатор стола четвертой секции задает ему относительное позиционирование,
  внешние и внутренние отступы и глубину слоя */
}

.table__cell_theme_dark {
  margin: 0;
  width: 200px;
  color: rgb(255, 255, 255);
  row-gap: 20px;
  /* модификатор блока карточки (колонки) четвертой секции задает внешние отступы,
  ширину карточки, интервал меджу строками */
  }

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  /* модификатор заголовка карточки (колонки) задает стили тексту */
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  /* модификатор текста карточки (колонки) задает стили тексту */
}

.footer {
  min-height: 350px;
  box-sizing: border-box; /* ИСПРАВЛЕНО rel.2 */
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  /* задали футеру фон, внутренние отступы, сделали его резинкой */
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* задали ширину блока с колонками футера, внешние отступы, сделали его
  резиновым,  */
  }

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* левой колонке футера задали базисную ширину относительно флекса,
  сделали контейнер резиновым колоночного типа, юстировали содержимое
  по границам с промежутками между */
}

.footer__author {
  margin: 18px 0;
  color: rgb(255, 255, 255);
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  /* задали внешние отступы параграфу копирайта футера, стили текста */
}

.footer__column-heading {
  margin: 0 0 20px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  /* задали заголовкам колонок футера внешние отступы, стили текста */
  }

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
    /* задали размеры иконок соцсетей футера, внешние отступы */
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  display: flex;
  flex-direction: column;

  /* задали блокам ссылок футера внутренние отступы, убрали символы ненумерованных списков  */

}

.footer__column-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 30px;
  font-size: 18px;
  font-style: normal;

  /* задали ссылкам футера внешние отступы, убрали подчеркивание, задали стили текста */
}

.footer__column-link:hover {
  color: #2f80ed;
}
