.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  margin: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin: 100px 0;
  display: flex;
  width: 80%;
}

.two-columns {
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  border: 1px solid rgb(141, 92, 234);
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  border: 1px solid rgb(234, 234, 92);
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  border: 1px solid red;
}

.digits__title {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.digits__subtitle {
  width: 60%;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.digits__table {
  width: 1100px;
  margin: 60px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.table_cell {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;
  list-style-type: none;
}

.table_heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table_text {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  margin: auto;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
