.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  /* задали внешние отступы тексту блока карточки (колонки) стола второй и
  четвертой секций, задали стили тексту */
}
